In [1]:
print("Hello, World")

Hello, World

In [2]:
print("""  Hello Every one"""
     )

  Hello Every one

In [3]:
print("hello\t World")

hello	 World

In [4]:
print('python\'s world')

python's world

In [5]:
print("python's world")

python's world

In [6]:
name="Sonali"
marks="58"
age="26"
print("The name of person is ", name, "mark is ", marks, "age is", age)

The name of person is  Sonali mark is  58 age is 26

In [11]:
print("The name of student is {name} the marks {marks} is age is {age}")

The name of student is {name} the marks {marks} is age is {age}

In [12]:
print(f"the name of student is {name} the marks {marks} is age is {age}")

the name of student is Sonali the marks 58 is age is 26

In [13]:
_33 = e

NameError: name 'e' is not defined

In [14]:
_33 = 2

In [15]:
if2= 56

In [16]:
id(if2)

140704088434800

In [17]:
4+5

9

In [18]:
4**2

16

In [19]:
4**32

18446744073709551616

In [20]:
87/3

29.0

In [21]:
int(87/3)

29

In [22]:
67-305

-238

In [26]:
a = 10
b = 20
a == b

False

In [27]:
a = 10
b = 10
a == b

True

In [28]:
c = 10
a == c

True

In [29]:
c > b

False

In [30]:
a = b = c

In [31]:
print(a,b,c)

10 10 10

In [32]:
b = 20

In [33]:
print(a,b,c)

10 20 10

In [34]:
c <= a

True

In [35]:
a >= b

False

In [36]:
a != b

True

In [37]:
a = 10
b = 3

In [38]:
a & b

2

In [39]:
a | b

11

In [40]:
c = 21
a > b and c>a

True

In [41]:
not a > b

False

In [42]:
strl = "pythonProgramming"
"a" in strl

True

In [43]:
strl = "pythonProgramming"
"Y" in strl

False

In [44]:
strl = "pythonProgramming"
"y" in strl

True

In [45]:
strl = "pythonprogramming"
"Pp" in strl

False

In [46]:
strl = "pythonprogramming"
"x" not in strl

True

In [47]:
a is c

False

In [48]:
print(a,b,c)

10 3 21

In [49]:
p = 12.3222
q = 12.32
p is q

False

In [50]:
p = 12.3222
q = 12.3222
p is q

False

In [51]:
p == q

True

In [52]:
45+2/(5+2)

45.285714285714285

In [53]:
6**(-2)

0.027777777777777776

In [54]:
4-5*11+66%2

-51

In [56]:
5**2

25

In [57]:
5*5*5

125

In [58]:
45**-6

1.2042729108217092e-10

In [59]:
int(45**-6)

0